{
  "singleQuote": true,
  "trailingComma": "all",
  "compilerOptions": {
    "deleteOutDir": true,
    "assets": [{
      "include": "mails/templates/**/*",
      "outDir": "dist/src"
    }],
    "watchAssets": true
  }
}
